# Dia 1: #7daysofcode

## Importação das bibliotecas e captura dos dados do Github

In [1]:
#Importação das bibliotecas
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:

# URL do repositório GitHub
repo_url = 'https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/tree/main/Dia_1-Importando_dados/Datasets/dados_emprestimos'

# Obter o conteúdo da página do repositório
response = requests.get(repo_url)
if response.status_code == 200:
    soup = BeautifulSoup(response.text, 'html.parser')
    
    # Encontrar todos os links para arquivos .csv
    csv_files = []
    for link in soup.find_all('a'):
        href = link.get('href')
        if href and href.endswith('.csv'):
            csv_url = f'https://raw.githubusercontent.com{href}'
            csv_url = csv_url.replace('/blob','')
            csv_files.append(csv_url)

    # Exibir os arquivos .csv encontrados
    print('Arquivos .csv encontrados:')
    for csv_file in csv_files:
        print(csv_file)
        
else:
    print(f'Erro ao acessar o repositório: {response.status_code}')

Arquivos .csv encontrados:
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20101.csv
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20101.csv
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20102.csv
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20102.csv
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20111.csv
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20111.csv
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20112.csv
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20112.csv
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20121.csv
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20121.csv
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20122.csv
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20122.csv
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20131.csv
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20131.csv
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20132.csv
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20132.csv
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20141.csv
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20141.csv
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20142.csv
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20142.csv
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20151.csv
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20151.csv
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20152.csv
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20152.csv
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20161.csv
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20161.csv
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20162.csv
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20162.csv
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20171.csv
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20171.csv
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20172.csv
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20172.csv
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20181.csv
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20181.csv
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20182.csv
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20182.csv
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20191.csv
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20191.csv
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20192.csv
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20192.csv
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20201.csv
https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20201.csv

In [3]:
# Criando o DF de empréstimos
emprestimos = pd.DataFrame()

#Populando o DF de empréstimos
for csv in csv_files:
    dfatual = pd.read_csv(csv)
    emprestimos = pd.concat([emprestimos,dfatual])

In [4]:
#Testando o funcionamento do mesmo
emprestimos.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO

In [5]:
emprestimos.tail()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
26556,2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
26557,2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
26558,2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
26559,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO
26560,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO

In [6]:
#Importação da base de dados dos exemplares
url = 'https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_exemplares.parquet?utm_medium=email&_hsenc=p2ANqtz--_9mgf0io__chvBkmyNqZxMGOlajpWzz2W97AtbytBN2XosjLITyovRqeApns2SYtpM4bf-rsM0Neju9SMK4QIaDWThHX3_miS23ScxQvku9zXAR4&_hsmi=270874190&utm_content=270874190&utm_source=hs_automation'

exemplares = pd.read_parquet(url)

In [7]:
#Testando para validar se a importação foi feita corretamente
exemplares.head()

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema
index,,,,,,,
0,5,L000003,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,694,1
1,4,L000002,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,688,1
2,3,L000001,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,638,1
3,7,L000114,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,616,5
5,10,L000041,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,657,15

In [8]:
#Concatenando os empréstimos com as bibliotecas para sabermos quais exemplares foram alugados
df_concatenado = pd.merge(emprestimos, exemplares, how='left', on='codigo_barras')

In [9]:
#Testando para validar se a concatenação foi feita corretamente
df_concatenado.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,13259.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630.0,4225.0
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,70865.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647.0,25009.0
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO,195347.0,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640.0,75019.0
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO,131639.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609.0,44494.0
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,13259.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630.0,4225.0

## Exploração dos dados

In [10]:
df_concatenado.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4523632 entries, 0 to 4523631
Data columns (total 13 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id_emprestimo         4523632 non-null  int64
 1   codigo_barras         4523632 non-null  object
 2   data_renovacao        1947706 non-null  object
 3   data_emprestimo       4523632 non-null  object
 4   data_devolucao        4510664 non-null  object
 5   matricula_ou_siape    4517290 non-null  float64
 6   tipo_vinculo_usuario  4523632 non-null  object
 7   id_exemplar           4145116 non-null  float64
 8   colecao               4145116 non-null  object
 9   biblioteca            4145116 non-null  object
 10  status_material       4145116 non-null  object
 11  localizacao           4145116 non-null  float64
 12  registro_sistema      4145116 non-null  float64
dtypes: float64(4), int64(1), object(8)
memory usage: 448.7+ MB

### Retirando as duplicatas do Dataframe

In [11]:
df_concatenado.duplicated()

0          False
1          False
2          False
3          False
4           True
           ...
4523627     True
4523628     True
4523629     True
4523630     True
4523631     True
Length: 4523632, dtype: bool

In [12]:
#Identificando o número de duplicatas
df_concatenado.duplicated().sum()

2261853

In [13]:
df_concatenado.drop_duplicates(inplace=True)

In [14]:
#Validando que o comando foi aplicado com sucesso
df_concatenado.duplicated().sum()

0

In [15]:
df_concatenado.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Index: 2261779 entries, 0 to 4496995
Data columns (total 13 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id_emprestimo         2261779 non-null  int64
 1   codigo_barras         2261779 non-null  object
 2   data_renovacao        973827 non-null   object
 3   data_emprestimo       2261779 non-null  object
 4   data_devolucao        2255295 non-null  object
 5   matricula_ou_siape    2258608 non-null  float64
 6   tipo_vinculo_usuario  2261779 non-null  object
 7   id_exemplar           2072522 non-null  float64
 8   colecao               2072522 non-null  object
 9   biblioteca            2072522 non-null  object
 10  status_material       2072522 non-null  object
 11  localizacao           2072522 non-null  float64
 12  registro_sistema      2072522 non-null  float64
dtypes: float64(4), int64(1), object(8)
memory usage: 241.6+ MB

### Identificando e tratando células vazias

#### id_exemplar vazio

In [16]:
df_concatenado.isna().sum()

id_emprestimo                 0
codigo_barras                 0
data_renovacao          1287952
data_emprestimo               0
data_devolucao             6484
matricula_ou_siape         3171
tipo_vinculo_usuario          0
id_exemplar              189257
colecao                  189257
biblioteca               189257
status_material          189257
localizacao              189257
registro_sistema         189257
dtype: int64

Existem 2030 códigos de barras que não estão cadastrados, afetando um total de 189257 registros

In [17]:
#Verificando os registros sem livros cadastrados
filtro = df_concatenado['id_exemplar'].isna()
df_concatenado[filtro]

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
23,709701,L163841,2010/01/19 19:02:53.450000000,2010/01/04 09:48:05.604000000,2010/02/04 18:23:49.946000000,2.008029e+09,ALUNO DE GRADUAÇÃO,NaN,NaN,NaN,NaN,NaN,NaN
116,709782,L165850,NaN,2010/01/04 14:06:16.699000000,2010/01/22 16:09:20.065000000,2.006213e+08,ALUNO DE GRADUAÇÃO,NaN,NaN,NaN,NaN,NaN,NaN
127,709793,L178388,2010/01/19 16:31:44.491000000,2010/01/04 14:47:41.976000000,2010/02/01 16:29:17.951000000,2.005063e+08,ALUNO DE GRADUAÇÃO,NaN,NaN,NaN,NaN,NaN,NaN
136,709802,2009032201,2010/01/19 16:13:22.082000000,2010/01/04 14:57:23.766000000,2010/02/03 14:04:04.222000000,2.009054e+09,ALUNO DE GRADUAÇÃO,NaN,NaN,NaN,NaN,NaN,NaN
137,709803,L188583,2010/02/01 15:52:28.614000000,2010/01/04 15:03:04.753000000,2010/03/02 17:58:07.985000000,2.010117e+09,ALUNO DE PÓS-GRADUAÇÃO,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4496892,2988987,Y020128,NaN,2020/03/17 19:14:36.276000000,2021/07/30 14:46:13.000000000,2.016093e+09,ALUNO DE GRADUAÇÃO,NaN,NaN,NaN,NaN,NaN,NaN
4496901,2988996,L202960,NaN,2020/03/17 19:19:44.292000000,2021/07/06 12:17:46.000000000,2.014102e+09,ALUNO DE PÓS-GRADUAÇÃO,NaN,NaN,NaN,NaN,NaN,NaN
4496917,2989012,C022707,2020/04/03 10:57:09.536000000,2020/03/17 19:31:47.457000000,NaN,2.017006e+10,ALUNO DE GRADUAÇÃO,NaN,NaN,NaN,NaN,NaN,NaN
4496920,2989015,C020979,NaN,2020/03/17 19:42:58.781000000,2021/01/04 14:24:32.000000000,2.014017e+09,ALUNO DE GRADUAÇÃO,NaN,NaN,NaN,NaN,NaN,NaN
4496921,2989016,C021490,NaN,2020/03/17 19:42:58.828000000,2021/01/04 14:25:22.000000000,2.014017e+09,ALUNO DE GRADUAÇÃO,NaN,NaN,NaN,NaN,NaN,NaN

Como sem o cadastro dos livros nós não vamos conseguir levantar as informações centrais do estudo como "de onde foi emprestado" ou "Qual biblioteca está emprestando mais", iremos retirar esses registros do nosso estudo, no entanto estou deixando na variável 'lista_livros_nao_cadastrados' os códigos sem cadastro para que sejam ajustados o quanto antes.

In [18]:
lista_livros_nao_cadastrados = df_concatenado['codigo_barras'][filtro].drop_duplicates().copy()

In [19]:
lista_livros_nao_cadastrados

23            L163841
116           L165850
127           L178388
136        2009032201
137           L188583
              ...
4496640       C013767
4496641       C017389
4496819       L143612
4496840    2018007270
4496842       Y021773
Name: codigo_barras, Length: 38540, dtype: object

In [20]:
#colunas_dropar = ['id_exemplar','colecao','biblioteca','status_material','localizacao','registro_sistema']

In [21]:
#Filtro para a deleção dos registros
filtro = df_concatenado['id_exemplar'].isna()

In [22]:
#Deleção
df_concatenado.dropna(subset='id_exemplar', inplace=True)

In [23]:
#Validação da remoção dos registros
df_concatenado.isna().sum()

id_emprestimo                 0
codigo_barras                 0
data_renovacao          1162077
data_emprestimo               0
data_devolucao             6178
matricula_ou_siape         2893
tipo_vinculo_usuario          0
id_exemplar                   0
colecao                       0
biblioteca                    0
status_material               0
localizacao                   0
registro_sistema              0
dtype: int64

#### matricula_ou_siape vazio

In [24]:
#Filtro para análise dos casos sem matrícula ou siape
filtro = df_concatenado['matricula_ou_siape'].isna()

Houveram 2893 empréstimos que não possuem matrícula ou siape. Dessa maneira não tem como sabermos quem foi que pegou o livro emprestado com os dados atuais.
Por uma questão de segurança, sugiro que os registros sejam validados com os responsáveis para que possamos entender em análise se houve algum inconveniente na data de empréstimo dos exemplares. 
Dataframe para a análise salvo na variável emprestimos_sem_matricula_ou_siape

In [25]:
#Cópia dos registros sem a matrícula
emprestimos_sem_matricula_ou_siape = df_concatenado[filtro].copy()

In [26]:
#Tratamento dos índices
emprestimos_sem_matricula_ou_siape.reset_index(drop=True, inplace=True)

In [27]:
#Verificação
emprestimos_sem_matricula_ou_siape.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,713154,2007015558,2010/02/05 17:22:18.059000000,2010/01/21 11:38:42.615000000,2010/02/09 14:39:37.772000000,NaN,SERVIDOR TÉCNICO-ADMINISTRATIVO,219303.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,659.0,89101.0
1,714044,L188570,2010/02/24 10:49:34.210000000,2010/01/26 15:08:42.587000000,2010/03/25 14:56:39.205000000,NaN,USUÁRIO EXTERNO,24460.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,603.0,16255.0
2,714047,L148514,2010/02/24 10:49:34.193000000,2010/01/26 15:13:40.173000000,2010/03/25 14:56:25.572000000,NaN,USUÁRIO EXTERNO,39630.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,631.0,16255.0
3,714048,L187527,2010/02/24 10:49:34.159000000,2010/01/26 15:13:40.204000000,2010/03/25 14:56:48.598000000,NaN,USUÁRIO EXTERNO,142633.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,654.0,50432.0
4,714209,L165158,2010/02/05 17:22:18.034000000,2010/01/27 11:07:39.973000000,2010/02/08 09:49:36.146000000,NaN,SERVIDOR TÉCNICO-ADMINISTRATIVO,74129.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,696.0,25918.0

Para preservarmos registros, manteremos os casos na nossa base, já que embora não saibamos quem está com os livros, podemos analisar os temas abordados

In [30]:
#Preenchendo os valores vazios com 0
df_concatenado['matricula_ou_siape'].fillna(0, inplace=True)

In [31]:
#Validação do preenchimento
df_concatenado.isna().sum()

id_emprestimo                 0
codigo_barras                 0
data_renovacao          1162077
data_emprestimo               0
data_devolucao             6178
matricula_ou_siape            0
tipo_vinculo_usuario          0
id_exemplar                   0
colecao                       0
biblioteca                    0
status_material               0
localizacao                   0
registro_sistema              0
dtype: int64

A coluna de data de renovação e de devolução não devem ser mexidas, dado que os livros podem ainda estar emprestados ou ainda não foram renovados.